<!DOCTYPE html>
<html lang="ko">
  <head> </head>
  <body>
    <ol>
      <% for ( var i = 0; i < data.length; i++){ %>
      <li><a href="/tables/<%=data[i].TABLE_NAME%>"><%=data[i].TABLE_NAME%></a></li>
      <% }%>
    </ol>
  </body>
</html>
